.seed{
    font-size: 0.7rem;
    width: 13px;
    text-align: right;
}

.desktop {
    width: 340px;
}

.player {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.name-and-flag {
    width: 200px;
    display: flex;
}

.set {
    width: 15px;
    text-align: center;
    float: left;
}
.tiebreak {
    width: 10px;
    text-align: center;
    font-size: 0.7rem;
    float: left;
}
.player-flag{
    width: 19px;
}

.centerVertically {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tournament-dropdown {
      text-align: center;
      padding-top: 12px;
  }

  .tournament-name {
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      padding-top: 12px;
  }

  .tournament-city {
      text-align: center;
  }

  .round {
      text-align: center;
      padding-bottom: 12px;
      font-size: 0.9rem;
  }

  .withdrawal {
      text-align: center;
      font-style: italic;
      font-size: 0.9rem;
      padding-top: 12px;
  }

  .start-time {
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    padding-top: 12px;
}