.desktop {
  /* display: flex; */
  width: 500px;
}

.team-logo {
  width: 90%;
  height: auto;
}

.note {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;;
}

.dropdowns {
  text-align: center;
}

select {
  margin-left: 5px;
  margin-right: 5px;
}
button {
  margin-left: 5px;
}
.date-time {
  font-size: 0.9rem;
  font-style: italic;
}

.finalScore,
.qtrScore {
  font-size: 26px;
}

.team-name {
  font-size: 21px;
}

.nickname {
  font-weight: bold;
  font-size: 24px;
}

.leader {
  font-size: 14px;
}

.desktop-game-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-device-width: 499px) {
  .desktop {
    display: none;
  }
  .finalScore,
  .qtrScore {
    font-size: 20px;
  }

  .team-name {
    font-size: 14px;
  }

  .nickname {
    font-weight: bold;
    font-size: 20px;
  }

  .headline {
    font-size: 14px;
  }

  ul {
    width: 320px;
  }
}

@media only screen and (min-device-width: 500px) {
  .mobile {
    display: none;
  }
}
