.datepicker-center {
    text-align: center;
    padding-top: 10px;
}
.organization-filter-select{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
}
.mat-slide-toggle {
    margin: 0 20px;
}
.mat-slide-toggle-label{
    font-family: "Roboto Condensed";
}
.leverage-index {
    width: 100%;
}
.game-time, .broadcasts {
    margin-top: 8px;
    margin-bottom: 8px;
}
.mat-card {
    min-height: 250px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.show-all {
    margin: 8px;
    background-color: #3f51b5;
    color: white;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
   /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    opacity: 75%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.team-container {
    font-family: "Roboto Condensed";
    display: flexbox;
}
.postgame-pitcher-info {
    font-family: "Roboto Condensed";
}
.away-broadcast, .home-broadcast {
    font-family: "Roboto Condensed";
    font-size: 13px;
}
.no-text-decoration {
    text-decoration: none;
}
.notes {
    font-family: "Roboto Condensed";
    padding: 5px 0px 5px 0px;
    text-align: center;
}
.delay-flag, .inning-div {
    font-family: "Roboto Condensed";
    font-weight: bold;
}
.team-logo {
    height: 20px;
    width: 20px;
   /* position: relative;
    */
    top: 2px;
    padding-right: 5px;
}
.inning-div {
    display: inline-flex;
    width: 100%;
}
.homers {
    padding-left: 0;
}
.leftside {
    width: 360px;
   /* text-align: center;
    */
    margin-left: auto;
    margin-right: auto;
}
a {
    color: rgba(0, 0, 0, 0.54);
}
.gameday-link {
    display: flex;
    float: right;
}
.level-and-gameday {
    display: flex;
    justify-content: space-between;
}
.doubleheader-flag {
    font-family: "Roboto Condensed";
    font-weight: bold;
}
.event-flag {
    width: 50%;
    font-weight: bold;
    font-family: "Roboto Condensed";
    display: flex;
}
.inning-span {
    width: 50%;
    font-weight: bold;
    font-family: "Roboto Condensed";
    justify-content: right;
    display: flex;
    margin-right: 15px;
}
.team-name {
    font-size: 18px;
    width: 200px;
    display: inline-flex;
}
.team-runs, .team-hits, .team-errors {
    font-size: 18px;
    width: 35px;
    justify-content: space-evenly;
    display: inline-flex;
}
.desktop {
    width: auto;
}
.desktop-container {
    display: flex;
    flex-wrap: wrap;
}
.rightside {
    white-space: nowrap;
    display: inline-block;
    left: 400px;
    width: 250px;
}
.diamond {
    white-space: nowrap;
    height: 250px;
    width: 250px;
    display: inline-block;
    padding: 0px;
    left: 400px;
    background-image: url("./diamond.png");
    background-size: 250px 250px;
}
.data-inside-diamond {
    position: relative;
}
.ondeck {
    white-space: nowrap;
    width: 250px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    width: 250px;
    text-align: center;
}
.inthehole {
    white-space: nowrap;
    width: 250px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    text-align: center;
}
.batter {
    white-space: nowrap;
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 250px;
    position: relative;
    top: 200px;
}
.runner2 {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    top: 40px;
    left: 75px;
    position: absolute;
    font-size: 13px;
    width: 100px;
}
.runner3 {
    white-space: nowrap;
    display: inline;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    font-size: 13px;
    width: 100px;
    left: 0px;
    top: 115px;
    width: 100px !important;
    position: absolute;
}
.runner1 {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-size: 13px;
    position: absolute;
    left: 145px;
    top: 115px;
    width: 100px;
}
.pitcher {
    display: flex;
    white-space: nowrap;
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 250px;
    top: 165px;
    position: relative;
}
.balls, .strikes, .outs {
    font-family: "Roboto Condensed";
   /* font-weight: bold;
    */
    font-size: 18px;
    width: 33%;
    text-align: center;
}
.card-container {
    display: flex;
}
.lastPlay {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Roboto Condensed";
}
.homeruns {
    width: auto;
    padding-top: 15px;
    font-family: "Roboto Condensed";
}
.balls-strikes-outs-inning {
    padding-top: 10px;
    display: flex;
    width: 320px;
}
@media only screen and (max-device-width: 699px) {
    .rightside {
        display: none;
   }
}
@media only screen and (max-device-width: 449px) {
    .mat-card {
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        margin-bottom: 50px;
        min-height: auto;
   }
    .ul {
        width: 100% !important;
        padding-left: 0;
   }
    .desktop-container {
        display: none;
   }
    .desktop {
        display: none;
   }
    .team-name {
        font-size: 16px;
        width: 150px;
        display: inline-flex;
   }
    .team-runs, .team-hits, .team-errors {
        font-size: 16px;
        width: 30px;
        justify-content: space-evenly;
        display: inline-flex;
   }
    .mobile {
        font-family: "Roboto Condensed";
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
   }
   .mobile-card-container{
    font-family: "Roboto Condensed";
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
   }
.mobile-team-line{
    font-family: "Roboto Condensed";
    font-size: 24px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.mobile-team-name{
    width: 110px;
    text-align: left;
}
.mobile-rhe{
    width: 35px;
    text-align: center;
}
.mobile-inning{
    font-family: "Roboto Condensed";
    font-size: 16px;
    width: 100%;
}
.mobile-batter
{
    font-family: "Roboto Condensed";
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}
.mobile-pitcher
{
    font-family: "Roboto Condensed";
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}
.mobile-broadcaster
{
    font-family: "Roboto Condensed";
    font-size: 14px;
    width: 100%;
}
.mobile-away-probable-pitcher
{
    font-family: "Roboto Condensed";
    width: 100%;
    margin-top: 10px;
}
.mobile-home-probable-pitcher
{
    font-family: "Roboto Condensed";
    width: 100%;
    margin-bottom: 10px;
}
.mobile-start-time{
    font-family: "Roboto Condensed";
    width: 100%;
    font-size: 16px;
    /* margin-bottom: 10px; */
}
.mobile-baserunners{
    font-family: "Roboto Condensed";
    font-size: 10px;
    margin-top: 10px;
    width: 33%;
    min-width: 110px;
}
.mobile-in-progress-home-runs{
    font-family: "Roboto Condensed";
    font-size: 10px;
    margin-top: 10px;
    width: 63%;
    min-width: 190px;
}
.mobile-win-pitcher,
.mobile-game-over-home-runs{
    font-family: "Roboto Condensed";
    width: 100%;
    margin-top: 10px;
}

.mobile-start-time,
.mobile-final,
.mobile-decision-pitcher{
    font-family: "Roboto Condensed";
    width: 100%;
}
    .balls, .strikes, .outs {
        font-family: "Roboto Condensed";
       /* font-weight: bold;
        */
        font-size: 16px;
        width: 33%;
        text-align: center;
   }
}
@media only screen and (min-device-width: 450px) {
    .mobile-container {
        display: none;
   }
    .mobile {
        display: none;
   }
}
