.flag
{
	height: 14.667px;
	width: auto;
}
.golfer-row
{
	font-size: 16px;
	height: 20px;
	margin: 4px;
	/* padding: 0px; */
    /* padding-right: -70px; */
	width: 100%;
}
.golfer-row-gray
{
	background-color: #ddd;
	font-size: 16px;
	height: 20px;
	margin: 4px;
	/* padding: 0px; */
    /* padding-right: -70px; */
	width: 100%;
}
.desktop-golf-scoreboard
{
	left: 35%;
	width: 650px;
}
.header-row
{
	font-size: 16px;
	font-weight: bold;
	height: 20px;
	margin: 4px;
	padding-left: 40px;
    padding-right: 40px;
	width: 100%;
}
.mat-card-title
{
	padding-left: 40px;
	text-align: center;
}
.name
{
	width: 250px !important;
}
.round
{
	text-align: center;
	width: 40px;
}
.score
{
	text-align: center;
	width: 50px;
}
.total
{
	text-align: center;
	width: 55px;
}
span
{
	display: inline-block;
}
ul
{
	margin: 0px;
}

.tinyUl
{
	margin: 0px;
}
.mobile-header-row {
	margin-left: 40px;
}

.mobile-event-name {
	font-size: 14px;
}

.mobile-golf-scoreboard {
	width: 300px;
}

.mobile-name
{
	font-size: 14px;
	margin-left: 0px;
	width: 180px !important;
}

.mobile-score
{
	font-size: 14px;
	width: 40px !important;
}

.mobile-total
{
	font-size: 14px;
	width: 40px !important;
}

@media only screen and (max-device-width: 699px) {
	.desktop-golf-scoreboard {
		display: none;
	}
}

@media only screen and (min-device-width: 700px) {
	.mobile-golf-scoreboard {
		display: none;
	}
}