.desktop {
  /* display: flex; */
  width: 500px;
}

.team-logo {
  width: 90%;
  height: auto;
}

.note {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;;
}

.dropdowns {
  text-align: center;
}

select {
  margin-left: 5px;
  margin-right: 5px;
}
button {
  margin-left: 5px;
}

/*  mat-grid-tile {
        border: 1px solid black;
    } */

.finalScore {
  font-size: 32px;
}

.team-name {
  font-size: 21px;
}

.venue {
  margin-bottom: 10px;
}

.nickname {
  font-weight: bold;
  font-size: 32px;
}

.desktop-game-container {
  display: flex;
  flex-wrap: wrap;
}

.mobile {
  padding-left: 20px;
  padding-right: 20px;
}

.mobile-mat-card {
  width: 320px !important;
}

@media only screen and (max-device-width: 649px) {
  .desktop {
    display: none;
  }

  ul {
    width: 320px;
  }

  .team-logo {
    display: none;
  }

  .team-name {
    font-size: 14px;
  }

  .nickname {
    font-size: 20px;
    font-weight: bold;
  }

  .finalScore {
    font-size: 24px;
  }

  .venue {
    display: none;
  }

  .status,
  .record {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 650px) {
  .mobile {
    display: none;
  }
}
