@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.title-center {
    text-align: center;
  }

  .tabs {
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
.active-button {
    color: #F20B22;
} 

