<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="sports">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>EverySportsScore</h1>
</mat-toolbar>
  <div>
<router-outlet></router-outlet>
</div>

<mat-menu #sports="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="baseball"><mat-icon>sports_baseball</mat-icon>Baseball</button>
  <button mat-menu-item [matMenuTriggerFor]="basketball"><mat-icon>sports_basketball</mat-icon>Basketball</button>
  <button mat-menu-item [matMenuTriggerFor]="football"><mat-icon>sports_football</mat-icon>Football</button>
  <button mat-menu-item [matMenuTriggerFor]="hockey"><mat-icon>sports_hockey</mat-icon>Hockey</button>
  <!-- <a routerLink="/soccer"><button mat-menu-item><mat-icon>sports_soccer</mat-icon>Soccer</button></a> -->
  <!-- <button mat-menu-item [matMenuTriggerFor]="golf"><mat-icon>sports_golf</mat-icon>Golf</button>
  <button mat-menu-item [matMenuTriggerFor]="tennis"><mat-icon>sports_tennis</mat-icon>Tennis</button>
  <a routerLink="/cricket"><button mat-menu-item><mat-icon>sports_cricket</mat-icon>Cricket</button></a>
  <a routerLink="/rugby"><button mat-menu-item><mat-icon>sports_rugby</mat-icon>Rugby Union</button></a>
  <a routerLink="/nrl"><button mat-menu-item><mat-icon svgIcon="aus"></mat-icon>National Rugby League</button></a>
  <a routerLink="/afl"><button mat-menu-item><mat-icon svgIcon="aus"></mat-icon>Aussie Rules Football</button></a> -->
  </mat-menu>

  <mat-menu #basketball="matMenu">
    <a routerLink="/basketball/nba"><button mat-menu-item>NBA</button></a>
    <a routerLink="/basketball/wnba"><button mat-menu-item>WNBA</button></a>
    <a routerLink="/basketball/g-league"><button mat-menu-item>NBA G-League</button></a>
    <a routerLink="/basketball/ncaam"><button mat-menu-item>NCAA Men</button></a>
    <a routerLink="/basketball/ncaaw"><button mat-menu-item>NCAA Women</button></a>
  </mat-menu>

  <mat-menu #baseball="matMenu">
    <a routerLink="/mlb"><button mat-menu-item>MLB and MiLB</button></a>
    <!-- <a routerLink="/ncaabaseball"><button mat-menu-item>NCAA</button></a> -->
    <!-- <a routerLink="/npb"><button mat-menu-item><mat-icon svgIcon="jpn"></mat-icon>NPB</button></a>
    <a routerLink="/kbo"><button mat-menu-item><mat-icon svgIcon="kor"></mat-icon>KBO</button></a>
    <a routerLink="/cpbl"><button mat-menu-item><mat-icon svgIcon="twn"></mat-icon>CPBL</button></a> -->

  </mat-menu>

  <mat-menu #football="matMenu">
    <a routerLink="/nfl"><button mat-menu-item>NFL</button></a>
    <a routerLink="/ncaaf"><button mat-menu-item>NCAA FBS</button></a>
    <a routerLink="/fcs"><button mat-menu-item>NCAA FCS</button></a>
    <!-- <a routerLink="/d23"><button mat-menu-item>NCAA D2/D3</button></a> -->
    <!-- <a routerLink="/cfl"><button mat-menu-item><mat-icon svgIcon="can"></mat-icon>CFL</button></a> -->
  </mat-menu>

  <mat-menu #hockey="matMenu">
    <a routerLink="/nhl"><button mat-menu-item>NHL</button></a>
    <!-- <a routerLink="/ahl"><button mat-menu-item>AHL</button></a>
    <a routerLink="/echl"><button mat-menu-item>ECHL</button></a>
    <a routerLink="/ncaah"><button mat-menu-item>NCAA</button></a> -->
  </mat-menu>

  <mat-menu #golf="matMenu">
    <a routerLink="/pga"><button mat-menu-item>PGA</button></a>
    <a routerLink="/lpga"><button mat-menu-item>LPGA</button></a>
    <a routerLink="/kornferry"><button mat-menu-item>Korn Ferry Tour</button></a>
    <a routerLink="/european-tour"><button mat-menu-item>European Tour</button></a>
    <a routerLink="/champions-tour"><button mat-menu-item>Champions Tour</button></a>
  </mat-menu>

  <mat-menu #tennis="matMenu">
    <a routerLink="/atp"><button mat-menu-item>ATP</button></a>
    <a routerLink="/wta"><button mat-menu-item>WTA</button></a>
  </mat-menu>
