div:empty {
  display: none;
}

.tinyUl {
  width: 300px;
  padding: 0px;
}

.notTinyUl {
  width: 500px;
}

.xsContainer {
  width: 328px;
  overflow: hidden;
}

.teamLocation {
  text-align: left;
  font-size: 1.25rem;
  position: absolute;
  font-weight: medium;
  left: 5px;
}

.xsTeamLocation {
  text-align: left;
  font-size: 0.8rem;
  font-weight: medium;
  position: absolute;
  left: 5px;
}

.teamNickname {
  text-align: left;
  font-size: 1.6rem;
  position: absolute;
  font-weight: bolder;
  left: 5px;
}

.xsTeamNickname {
  text-align: left;
  font-size: 1.1rem;
  position: absolute;
  font-weight: bolder;
  left: 5px;
}

.status {
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  right: 5px;
}

.xsStatus {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.teamRecord {
  text-align: left;
  font-size: 1rem;
  position: absolute;
  left: 5px;
}

.xsTeamRecord {
  text-align: left;
  font-size: 0.8rem;
  position: absolute;
  left: 5px;
}

.teamScore {
  font-size: 3rem;
}

.xsTeamScore {
  font-size: 1.75rem;
}

.teamLogo {
  width: 100%;
  height: auto;
}

.venue {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.datepicker-center {
  text-align: center;
  margin-top: 16px;
}

.centerVertically {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 556px) {
  .isNotMobile {
    display: none;
  }
}

@media only screen and (min-device-width: 557px) {
  .isMobile {
    display: none;
  }
}
