/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
  background: #eef2f9;
  color: #1f2b44;
}

.mat-toolbar {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.14);
}
